# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/

# Build
build/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/

# IDE
.idea/
.vscode/

# macOS
.DS_Store
