
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980239809422-rn93bj4ujm7sguqv03nipp7g70fi522o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980239809422-rn93bj4ujm7sguqv03nipp7g70fi522o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>980239809422-1eo708gq3p3iou4g22m5a7ntml7bpei8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRbkcoyRCdkrgWX2rcSq6qvu7pJdRU_zk</string>
	<key>GCM_SENDER_ID</key>
	<string>980239809422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chaskiy.app</string>
	<key>PROJECT_ID</key>
	<string>chaskiy-3c070</string>
	<key>STORAGE_BUCKET</key>
	<string>chaskiy-3c070.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980239809422:ios:950226f3285739349a02df</string>
</dict>
</plist>